<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file enables live mode, so that data is read directly 
from the master database, thereby bypassing the need to publish

To enable this, rename this file so that it has a ".config" extension

Notice how "patch:attribute" is used to change the value of attributes that 
are specified for an existing element in the web.config file

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
	<settings>
		<!--  ENABLE COUNTERS
            Indicates if performance counters are enabled.
            Default value: true
		-->
		<setting name="Counters.Enabled">
			<patch:attribute name="value">false</patch:attribute>
		</setting>
	</settings>
    <scheduling>
		
		<!-- Agent to dump performance counter data -->
		<agent type="Sitecore.Tasks.CounterDumpAgent">
			<!-- Default: interval="01:00:00" -->
			<patch:attribute name="interval">00:00:00</patch:attribute>
		</agent>
    </scheduling>
	
  </sitecore>
</configuration>
